{% extends 'flatpages/default.html' %}

{% block content %}
    <div class="space-10">
        <h2>Редактирование профиля {{request.user.username}}</h2>
    </div>

    <form method="POST">
        {% csrf_token %}
        <div class="space-10">
            {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endfor %}
        </div>
        <div class="space-10">
            <input type="submit" value="Изменить">
            <input type="button" value="Отмена" onclick="window.history.back()">
        </div>
    </form>

{% endblock %}